<header class="text-gray-100 bg-slate-800">
  <div class="container mx-auto px-4 lg:max-w-7xl py-24 text-center md:text-left">
    <div class="relative py-6 md:py-0">
      <img class="origin-bottom-right right-0 -bottom-96 static md:absolute w-100 md:w-96 lg:w-2/5" 
           src="/images/hero-codecraft.svg" alt="Code Craft">
    </div>
    <div class="w-100 md:w-1/2 text-center md:text-left">
      <h1 class="py-8 text-6xl font-bold mb-5 tracking-tighter">Code Craft</h1>
      <p class="text-xl md:text-2xl font-light text-center md:text-left">
          Mulai petualanganmu di dunia kode <i>(coding)</i> dengan tutorial yang ramah pemula.
      </p>
      <div class="py-8 flex flex-row gap-3 justify-center md:justify-start">
        <a href="/tutorial/" 
           class="px-3 py-2 bg-teal-600 hover:bg-teal-700 focus:ring-2 focus:ring-teal-400 rounded-lg active:bg-teal-500">
          Mulai Belajar
        </a>
        <a href="#newsletter" data-turbo="false"
           class="px-3 py-2 bg-teal-400/10 border border-teal-400/50 hover:bg-teal-700 focus:ring-2 focus:ring-teal-400 text-teal-100 rounded-lg active:bg-teal-500">
          Join Newsletter
        </a>
      </div>
    </div>
  </div>
</header>