{{ if gt .Paginator.TotalPages 1 }}
<ul class="flex flex-row justify-center md:justify-start gap-2 md:gap-4 my-8">
  {{ if .Paginator.HasPrev }}
    
    <li class="text-white  dark:text-white hover:bg-teal-500 hover:text-white dark:hover:bg-teal-500 dark:hover:text-white h-8 w-8 rounded-full">
      <a href="{{ .Paginator.Prev.URL }}" class="inline-flex justify-center items-center p-1 h-8 w-8 rounded-full" title="Previous Page">
        <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"></path>
        </svg>
      </a>
    </li>
  {{ end }}

  {{ range $index, $page := .Paginator.Pagers }}
    {{ if eq . $.Paginator }}
      <li class="bg-teal-600 dark:bg-teal-600 text-white  dark:text-white hover:bg-teal-500 hover:text-white dark:hover:bg-teal-500 dark:hover:text-white h-8 w-8 rounded-full">
        <span class="inline-flex justify-center p-1 h-8 w-8 rounded-full">{{ .PageNumber }}</span>
      </li>
    {{ else }}
      <li class="bg-teal-600 text-white dark:bg-slate-800 dark:text-white hover:bg-teal-500 hover:text-white dark:hover:bg-teal-500 dark:hover:text-white h-8 w-8 rounded-full">
        <a href="{{ .URL }}" class="inline-flex justify-center p-1 h-8 w-8 rounded-full">{{ .PageNumber }}</a>
      </li>
    {{ end }}
  {{ end }}

  {{ if .Paginator.HasNext }}
    <li class="text-white  dark:text-white hover:bg-teal-500 hover:text-white dark:hover:bg-teal-500 dark:hover:text-white h-8 w-8 rounded-full">
      <a href="{{ .Paginator.Next.URL }}" class="inline-flex justify-center items-center p-1 h-8 w-8 rounded-full" title="Next Page">
        <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
        </svg>
      </a>
    </li>
    <li class="text-white  dark:text-white hover:bg-teal-500 hover:text-white dark:hover:bg-teal-500 dark:hover:text-white h-8 w-8 rounded-full">
      <a href="{{ .Paginator.Last.URL }}" class="inline-flex justify-center items-center p-1 h-8 w-8 rounded-full" title="Last Page">
        <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13 5l7 7-7 7M5 5l7 7-7 7"></path>
        </svg>
      </a>
    </li>
  {{ end }}
</ul>
{{ end }}