<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">

<!-- Favicon -->
<!-- PNG Favicon -->
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">

<!-- SVG Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg">

<!-- Fallback ICO -->
<link rel="shortcut icon" href="/favicon.ico">

<!-- Apple Touch Icon (untuk iOS) -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

<!-- Manifest Web App -->
<link rel="manifest" href="/site.webmanifest">


<!-- Tailwind CSS -->
<link rel="stylesheet" href="{{ "css/styles.css" | absURL }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:image" content="{{ with .Params.image }}{{ . | absURL }}{{ else }}/img/og-default.jpg{{ end }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ .Title }}">
<meta property="twitter:description" content="{{ .Description }}">
<meta property="twitter:image" content="{{ with .Params.image }}{{ . | absURL }}{{ else }}/img/og-default.jpg{{ end }}">