<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">

<!-- Favicon -->
<link rel="icon" type="image/png" href="/icons/app-icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="/icons/app-icons/favicon.svg">
<link rel="shortcut icon" href="/icons/app-icons/favicon.ico">
<link rel="apple-touch-icon" href="/icons/app-icons/apple-touch-icon.png" sizes="180x180">
<link rel="manifest" href="/site.webmanifest">

<!-- Tailwind CSS -->
<link rel="stylesheet" href="{{ "css/styles.css" | relURL  }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:image" content="{{ with .Params.image }}{{ . | absURL }}{{ else }}/img/og-default.jpg{{ end }}">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="twitter:image" content="{{ with .Params.image }}{{ . | absURL }}{{ else }}/img/og-default.jpg{{ end }}">
