{{ define "main" }}
<div class="container lg:max-w-7xl my-16 mx-auto px-4">
  <div class="font-bold uppercase text-teal-600 dark:text-teal-400 text-sm mb-2">List Buku</div>
  <h2 class="text-3xl text-slate-500 dark:text-slate-300 font-bold tracking-tight mb-2">Explore Buku</h2>
  <p class="text-lg mb-8 text-slate-500 dark:text-slate-300">Belajar lebih terstruktur dengan buku/eBook.</p>

  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-flow-col-3 gap-4">
    {{ range .Pages }}
      {{ if eq .Type "buku" }}
      <div class="shadow-md p-4 rounded-lg text-slate-500 dark:text-slate-300 bg-white dark:bg-slate-800 hover:shadow-lg grid grid-cols-4 gap-4">
        <div class="col-span-1">
          <a href="{{ .RelPermalink }}">
            <picture class="block">
              {{ if .Params.cover }}
              <img class="object-cover w-full h-40 dark:brightness-75 rounded-md" 
                   src="{{ .Params.cover | absURL }}" 
                   alt="Cover {{ .Title }}">
              {{ else }}
              <img class="object-cover w-full h-40 bg-gray-200 dark:brightness-75 rounded-md" 
                   src="/images/content/buku/placeholder-book.svg" 
                   alt="Placeholder Cover">
              {{ end }}
            </picture>
          </a>
        </div>
        <div class="col-span-3">
          <h2 class="font-bold uppercase text-teal-600 dark:text-teal-400 text-xs">
            {{ .Params.type | default "Ebook" }}
          </h2>
          <h3 class="text-lg font-bold mb-1 tracking-tight line-clamp-1">
            <a href="{{ .RelPermalink }}" class="hover:text-teal-700 dark:hover:text-teal-300 transition-colors">
              {{ .Title }}
            </a>
          </h3>
          <p class="text-sm mb-2 text-slate-500 dark:text-slate-300 line-clamp-1">
            By {{ .Params.author | default "Petani Kode" }}
          </p>
          <p class="text-xs text-slate-500 dark:text-slate-300 line-clamp-3">
            {{ .Description | default .Summary | truncate 120 }}
          </p>
        </div>
      </div>
      {{ end }}
    {{ end }}

    <!-- Card Request Buku -->
    <div class="p-4 active:scale-95 text-slate-400 dark:text-slate-600 rounded-lg border-2 border-dashed border-slate-300 hover:bg-teal-400/5 hover:border-teal-400 dark:hover:border-teal-400 dark:border-slate-700 grid grid-cols-4 gap-4">
      <div class="col-span-1">
        <a href="https://s.id/XpGDC" target="_blank" rel="noopener">
          <picture class="block">
            <img class="object-cover w-full h-40 dark:brightness-75 rounded-md" 
                 src="/images/content/buku/request-book.svg" 
                 alt="Request Buku">
          </picture>
        </a>
      </div>
      <div class="col-span-3">
        <h3 class="text-lg font-bold mb-1 tracking-tight line-clamp-1">
          <a href="https://s.id/XpGDC" 
             target="_blank" 
             rel="noopener" 
             class="hover:text-teal-700 dark:hover:text-teal-300 transition-colors" 
             title="Request buku baru">
            Request Buku Baru
          </a>
        </h3>
        <p class="text-sm line-clamp-3">
          Tidak menemukan buku yang kamu cari? Request buku baru di sini.
        </p>
      </div>
    </div>
  </div>
</div>
{{ end }}
